body {
  background-color: #FFDDCC;
}

.block {
  display: flex;
  justify-content: center;
}
button {
  background-color: #FEBBCC;
  border: none;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size: 50px;
}
h2 {
    display: flex;
    justify-content: center;
}
.letter {
  font-family: 'Caveat', cursive;
  font-size: 30px;
}